@import '~antd/dist/antd.css';

.container {
  width: 100%;
  display: flex;
  align-self: center;
  min-height: 100vh;
  background-color: #FFFFFF;
  margin:auto;
}

/* general */
body {
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background-color: #FFFFFF;
}

.container-fluid {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}

.layout-header,
.layout-footer{
  padding: 0 15;
  height: auto;
  line-height: 1.6;
  background-color: #FFFFFF;
}

.layout-content {
  background-color: #FFFFFF;
  margin-top: 20px;
}

.bg-gray {
  background-color: #FFFFFF;
}

/* Cart */
.cart-name{
  font-size: 1.1rem;
}

.product-qty{
  margin-top: 0.5rem;
}

.cart-modal-btn {
  width: 100%;
  font-size: 1.1rem;
  padding: 0.7rem;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: .1rem #c0c0c0 solid;
}

.link{
  color:#424242;
}

.link:hover{
  color:#808080;
}

.link:active{
  color:#424242;
  opacity: 80%;
}

.cart-qty{
  display: flex;
  justify-content: space-between;
  align-items:center;
}

.cart-image img{
  width: 4rem;
  flex: 1 1;
}

.cart-item-content {
  margin-left: 2rem;
  flex: 8 1;
}

.cart-price {
  font-size: 1rem;
  font-weight: bold;
  text-align: right;
}

.cart-item-delete {
  font-size: 1.2rem;
  opacity: 0.6;
  text-align: right;
  cursor: pointer;
}

.cart-total-price-wrap {display: flex; justify-content: space-between;}
.cart-total-price {
  font-weight: bold;
  text-align: right;
}

/* Slide */
.Slide{
  width: 100%;
  height: 435px;
  display: 'flex';
}

.content-slide{
  margin-top: 20px;
}

/*antd*/
.radio-style{
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

.input-number{
  width:3.5rem;
}

/* activity Item */
.activity {
  border-radius: 1%;
  border: solid #808080 1px;
  width: 90%;
}

.activityItem-img{
  border-radius: 1%;
}

.ant-card-body{
  padding: 0;
}

.activity-info {
  padding: 1.2rem;
}

.activity-info--detail {
  padding: 0 1.2rem;
}

.activity-category {
  color: #111828;
  opacity: 0.4;
  margin-bottom: 0.2rem;
}

.activity-name {
  color: #111828;
  margin-bottom: 0.5rem;
}

.activity-more {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8rem;
}

.activity-link {
  text-decoration: none;
  align-self: center;
  color: #9014FF;
}

/* Breadcrumb */
.breadcrumb{
  margin-left: 30px;
}

.breadcrumb--1{
  margin-bottom: 30px;
  margin-top: 10px;
}

.breadcrumb-item:hover{
  color:#C7C7C7;
}

/* Detail Page */
.activity-image {
  border-radius: 2%;
  width: 100%;
}

.activity-name--large {
  display: flex;
  font-size: 1.5rem;
}

.activity-price--large {
  font-size: 1.5rem;
  font-weight: bold;
  color: #dd0000;
  background-color: #f5f5f5;
  padding:1rem;
}

.activity-price-wrap {
  display: flex;
  flex-direction: column;
}

.activity-item{
  color:rgb(66, 66, 66);
}

.notice{
  font-size: 0.8rem;
  opacity: 0.4;
  margin:0.3rem 0.5rem;
}

.qty-number {
  color: #000;
  background-color: #FFFFFF;
}

.select-style {
  font-size: 0.8rem;
}

.site-custom-tab-bar {
  z-index: 1;
  background: #fff;
}

.btn-toprefer {
  color: #9014FF;
  height: auto;
  font-size: 1.4rem;
  /* padding: 0.5rem 2rem; */
}

.btn-toprefer:hover{
  font-size: 1.6rem;
}

.btn-tocar {
  height: auto;
  font-size: 1rem;
  padding: 0.3rem 2rem;
}

/* Header */
.header {
  margin-top:1rem;
  margin-bottom:2rem;
  text-align: center;
}

.header-slogan {
  width: 100%;
}

/*Nav-bar*/
.nav-bar {
  margin-left:40%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 1.7rem;
}

.nav-item {
  font-size: 1.1rem;
  font-style: italic;
  text-align: center;
  color: #9014FF;
  transition: opacity .25s linear;
  cursor: pointer; 
}

.nav-item:hover {
  color: #2bff47;
  font-weight: bold;
  opacity: 1;
  transform: scale(1.2)!important;
}

.nav-item:active {
  transform: scale(1.1)!important;
}

/* Hamburger Menu */
.menu-icon {
  display: inline-block;
  position: relative;
  margin-left: -4rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 2rem;
  opacity: 0.7;
  left: 5rem;
  top: 2.5rem;
  transition: all .25s linear;
}

.menu-icon:hover {
  opacity: 1;
  cursor: pointer;
}

.nav-slogan{
  margin:1rem;
}
/* Preference */
.nopreference{
  color:#424242;
  margin-top: 100px;
  text-align: center;
}

.prefer-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: .1rem #c7c7c7 solid;
}

.prefer-image img{
  max-width: 4rem;
  max-height: 4rem;
  flex: 1 1;
}

.prefer-item-delete {
  color:#424242;
  font-size: 1.4rem;
  opacity: 0.6;
  text-align: right;
  cursor: pointer;
  margin-right: 35px;
  margin-bottom: 20px;
}

.prefer-name{
  color: #424242;
}

/* Footer */
.footer {
  width: 80%;
  margin-left: 10%;
  margin-top: 2rem;
  margin-bottom: 3rem;
  text-align: center;
}

.footer-area{
  display: flex;
  flex-direction: column;
  align-self:flex-start;
  align-items: flex-start;
}

.footer-title{
  font-size: 1.5rem;
  font-weight: bold;
  color: #424242;
  opacity: 0.8;
}

.footer-item {
  font-size: 1rem;
  line-height: 2.5rem;
  color: #424242;
  opacity: 0.6;
}

.footer-icon{
  width:1rem;
  margin-right: 1rem;
}

.footer-item:hover {
  color: #c583ff;
  opacity: 0.8;
  transform: scale(1.05);
}

.footer-item:active {
  color: #ae52ff;
  transform: scale(1);
}

.statement{
  margin-top: 2rem;
  font-size: 0.8rem;
  color:#c7c7c7;
}

/* RWD Container */


/* xs */
@media (min-width: 375px) { 
  .container {
    width: 340px;
    align-self: center;
  }
  .content-one{
    margin-left: 29px;
  }
  .breadcrumb{
    margin-left: 0px;
  }
  .Slide{
    height: 150px;
  }
  .footer-title{
    font-size: 1rem;
  }
  .footer-item {
    font-size: 0.7rem;
    display: flex;
  }
  .header-slogan {
    margin-top:2.5rem;
    width: 230%;
  }
  .footer-icon{
    width:1rem;
    height: 1rem;
    margin-top: 10px;
  }
  .content-activity{
    margin-left: 30px;
  }
  .nav-position{
    display: flex;
    justify-content: flex-end;
    padding-right: 2rem;
    margin-top: 3rem;
  }
} 

/* sm */
@media (min-width: 576px) { 
  .container {
    width: 540px;
  }
  .content-one{
    margin-left: 50px;
  }
  .Slide{
    height: 210px;
  }
  .breadcrumb{
    margin-left: 0px;
  }
  .layout-content{
    margin-left: 25px;
  }
  .header {
    text-align: center;
    margin-top:2rem;
  }
  .header-slogan {
    margin-top:1rem;
    width: 170%;
  }
  .footer-title{
    font-size: 1.3rem;
  }
  .footer-item {
    font-size: 1rem;
    display: flex;
  }
  .nav-position{
    display: flex;
    justify-content: flex-end;
    padding-right: 2rem;
    margin-top: 1.7rem;
  }
} 

/* md */
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
  .layout-content{
    margin-left: 0px;
  }
  .content-one{
    margin-left: 60px;
  }
  .breadcrumb{
    margin-left: 0px;
  }
  .Slide{
    height: 300px;
  }
  .footer-title{
    font-size: 1.5rem;
  }
  .footer-item {
    font-size: 1.1rem;
    display: flex;
  }
  .content-activity{
    margin-left: 40px;
  }
  .nav-item{
    font-size: 0.8rem;
  }
  .nav-prefer{
    margin-top: 7.5px;
  }
  .nav-position{
    display: flex;
    justify-content: flex-end;
    padding-right: 2rem;
    margin-top: 2rem;
  }
  .new-header{
    padding:0 5rem;
  }
} 

@media (min-width: 769px){
  .show-mobile{
    display: none;
  }
}

/* lg */
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
  .header-slogan {
    margin-top:1rem;
    margin-left: 50px;
    width: 150%;
  }
  .Slide{
    height: 370px;
  }
  .nav-prefer{
    margin-top: 5px;
  }
  .new-header{
    padding:0 3rem;
  }
  .activity-image {
    width: 100%;
  }
  .nav-item{
    font-size: 1.1rem;
  }
} 

/* xl */
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
  .header-slogan {
    width: 100%;
    margin-left: 0px;
  }
  .layout-content{
    margin-left: 0px;
  }
  .content-one{
    margin-left: 30px;
  }
  .Slide{
    height: 435px;
  }
  .new-header{
    padding:0 12rem;
  }
} 

/* xxl */
@media (min-width: 1600px) {
  .container {
    width: 1500px;
  }
  .Slide{
    height: 580px;
  }
  .nav-item {
    font-size: 1.4rem;
  }
  .nav-prefer{
    margin-top: 7px;
  }
  .new-header{
    padding:0 34rem;
  }
} 

@media (max-width: 768px) {
  .collapse-mobile {
    display: none;
  }
} 
